div.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

div.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 180px;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #eee;
  margin: 10px;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
