div.header-container {
  display: flex;
  align-items: center;
  height: 100%;

  h1.logo {
    margin-left: 20px;

    @media only screen and (max-width: 768px) {
      font-size: 18px;
      margin-left: 8px;
    }
  }
}
