/* LAYOUT */

/* colors */
$color: #ddd;
$backgroundDefault: rgb(105, 105, 105);
$backgroundOk: rgb(0, 194, 65);
$backgroundCancel: crimson;

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 50px 1fr 100px;
  grid-template-areas:
  "header  header  header"
  "sidebar content content"
  "footer  footer  footer";

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr auto 0;
    grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
  }
}

@mixin sectionBase {
  color: $color;
}

section.header {
  @include sectionBase;
  grid-area: header;
  background-color: rgb(59, 28, 133);
  
  @media only screen and (max-width: 768px) {
    position: fixed;
    height: 30px;
    width: 100%;
  }
}

section.sidebar {
  @include sectionBase;
  grid-area: sidebar;
  background-color: rgb(79, 28, 133);

  @media only screen and (max-width: 768px) {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

section.content {
  @include sectionBase;
  grid-area: content;
  background-color: rgb(99, 28, 133);
}

section.footer {
  @include sectionBase;
  grid-area: footer;
  background-color: rgb(119, 28, 133);
  overflow: hidden;
}
